<%- include("partials/header", { bot, user, path, title: "Error 404" }) %>
<body>
    <div class="wrapper">
        <div class="page-header header-filter">
          <div class="content">
            <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 class="title">404</h1>
                <h2 class="description">Page not found :(</h2>
            </div>
        </div>
      </div>
    </div>
</div>
</div>
</body>
<%- include("partials/footer") %>